<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
        <link rel="icon" href="/images/sports.png" type="image/x-icon">   
		<title>Stop Pretending : Stand against Porn</title>
		<meta name="description" content="Stand Against Porn to remove it from society">
		<meta name="author" content="Mahtab Alam">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/css/reveal.css">
		<link rel="stylesheet" href="/css/theme/beige.css" id="theme">
		<script src="/libs/js/html5shiv.js"></script>		
	</head>

	<body>

		<div class="reveal">
			
			<div class="slides">
                
				<section>
					<h1>PORN</h1>
					<h3>The new epidemic of 21<sup>st</sup> century</h3>					
				</section>
                
                <section>
					<h3>Porn violates your soul</h3>
					<p>
						Cancer kills the body but Porn kills your soul  
					</p>
				</section>               
               
                
                <section>
					<h3>Watching Porn &nbsp; = &nbsp;  Promoting Porn</h3>					
				</section> 
                
                <section>
					<h3>Porn hates families</h3>
					<p>
						Porn has already messed up so many marriages, broken families and corrupted society  
					</p>
				</section>  
                
                <section>
					<h3>Porn = Crime</h3>
					<p>
						Porn has worked as a catalyst for increased crime against women, rape cases, human trafficking and child sexual abuse
					</p>
				</section>

				<section>
					<h3>Porn traffic</h3>
					<p>
						Porn sites get more visitors each month than Netflix, Amazon and Twitter combined
					</p>
				</section>
                
                <section>
					<h3>Porn is a business</h3>
					<p>
						Porn is a trillion dollar industry today and US, UK and India are the top three consumers of Porn 
					</p> 
				</section>
                
                <section>	
                    <h3>How much porn is there ?</h3>
					<p>There are millions of Porn websites streaming Porn every second, some of these websites have Porn content of size of an exabyte. An exabyte is such a large amount of data that only tech giants like Google and Facebook have                     
					</p> 
				</section>
                
                 <section>	
                     <h3>Caught every community</h3>
					<p>
					Porn doesn't distinguish whether you are a Christian or Muslim or Hindu or Jew, it just corrupts your mind and turns you into an animal
					</p> 
				</section>
                
                <section>
                    <h3>Don't feed Porn</h3>
					<p>
				Your every single search for porn on internet, every single click on a porn site generates more money for porn industry. So ultimately you become the promoter of Porn
					</p> 
				</section>
                
                 <section>	
                     <h3>Porn can't give you anything</h3>
					<p>
						You have got one life, don't let Porn ruin it. Porn can't give you anything except destroying your soul and life  
					</p> 
				</section>
                
                <section>
					<h3>You are not alone</h3>
					<p>
						Porn is not an individual's problem its an epidemic
					</p>
				</section> 
                
                <section>
                    <h3>Ugly but true</h3>
					<p>
						Studies conducted at various universities says 70% of men and 30% women watch pornography online 
					</p> 
				</section>
                
                <section>
					<h3>Porn is everywhere</h3>
					<p>
						Every one of us get exposed to porn in one way or other, either through filthy content posted on social media or horrible shameless ads or through bunch of friends who have no standards. You can't escape it but you can stand against it
					</p>
				</section>
                
                <section>
					<h3>Impact of Porn</h3>
					<p>
						Porn has certainly made a big impact, the kind of billboards you see, the type of tv shows broadcasted, the filthy scenes that are shown in movies today. These things were not there before, isn't it?
					</p>
				</section>
                
                
                 <section>
					<h3>What you can do ?</h3>
                     <p>First make sure you don't watch porn, next make sure no one in your family and friends are involved in this filth </p>
				</section>
                
                <section>
					<h3>Save the lives</h3>
					<p>
						By not watching porn you are saving many lives
                        <h4>Not watching porn = Stopping human trafficking</h4>
					</p>
				</section>
                
                <section>
					<h3>Kill the Porn</h3>
					<p>
						Come on there are so many awesome things to do in life than watching Porn
					</p>
				</section>              
            
                <section>
					<h3>Helping others </h3>
                     <p> If you find someone who is hooked to porn make sure you show them the path and give them a helping hand </p>
				</section>
            
                 <section>
					<h3>Support the cause</h3>
                     <p>You can either remain silent and pretend that Porn is not a problem as you have always done or you can speak out against porn and support the cause
                     </p>
				</section>
            
                <section>
					<h3>Now its your turn</h3>
                     <p>Be bold and share your message against Porn with hashtag <a href="https://twitter.com/hashtag/StandAgainstPorn" target="_blank">#StandAgainstPorn</a> 
                     </p>
				</section>
            
                <section>
					<h3>Kudos</h3>
                     <p><a href="#" onclick="return false;">stand-against-porn.org</a>
                         is created by 
                         <a href="https://twitter.com/alammahtab08"                                                            target="_blank">Mahtab</a> to speak against porn. 
                         Special thanks to the 
                         <a href="http://fightthenewdrug.org/"                                                            target="_blank">FightTheNewDrug</a>
                         team, brother 
                         <a target="_blank" href="https://twitter.com/hakimel">
                             Hakim El Hattab
                         </a> and my super awesome ginger tea
                     </p>
				</section>
			</div>

		</div>

		
		<script src="/js/reveal.min.js"></script>
		<script>			
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'convex',                
				dependencies: []
			});
		</script>

	</body>
</html>
